<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
<div id="wapper" class="container" >
    <div id="particles-js" style="background:linear-gradient(0deg, rgba(19, 17, 18, 0.3), rgba(21, 20, 20, 0.3)),url({{bg}});"></div>
    <div class="content">
        <div class="logo"><img src="{{logo}}"></div>
        <div class="msg">{{message}}</div>
    </div>
</div>
    <script src="{{url_for('static', filename='js/particles.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>