<!DOCTYPE html>
<html>
<head>
{#    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>#}
{#    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>#}
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
    <script src="static/js/application.js"></script>

    {#    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>


</div>

<div class="container-fluid">
    <div class="banner">
        <img alt="" class="" src="{{ url_for('static', filename='images/logo1.jpg') }}">
    </div>
    <div class="container">
        <div class="row">
            <h1 id="mode">Chế độ điều khiển bằng tay</h1>
        </div>
    </div>
    <div class="robot-info">
        LED Base_Station  OFF + LED Manual_Mode ON
    </div>
</div>

<div class="modal {{classes}}">
    <div class="modal-content">
        <iframe id="iframeContent" src="http://178.128.26.135/" style="overflow:hidden;height:100%;width:100%"></iframe>
    </div>
</div>

{#    <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/index.js') }}"></script>#}
</body>
</html>
